body{
background:white url("t2.jpg")0 0 no-repeat;
background-size:cover;

}
h1{
    color: rgb(1, 14, 206);
}
label{
font-size: 20px;
color:rgb(4, 19, 219);
font-weight: bolder;
}input{
border-radius: 12px ;
padding: 14px;
margin:20px;
width: 300px;
border: 1px solid rgb(14, 132, 172);
gap: 2rem;
height: 25px;


}
button{border-radius: 5px;
padding: 10px;
background-color:blue;
margin:20px;
width:350px ;
color:white;}
form{
background-color:rgba(255, 255, 255, 0.8);
width:40ch;   
padding:20px;
margin:10px;
display: flex;

align-items: center;
justify-content: center;
border-radius:15px;
height:350px;
}

    
